$header-height: 90px
$primary-color: #0057FF
$secondary-color: #00DFDF
  
:root
    --header-height: #{$header-height}
    --primary-color: #{$primary-color}
    --secondary-color: #{$secondary-color}